apiVersion: v1
kind: Service
metadata:
  name: imgproxy-2
  namespace: imgproxy-2
  labels:
    app.kubernetes.io/name: imgproxy-2
spec:
  selector:
    app.kubernetes.io/name: imgproxy-2
  ports:
  - protocol: TCP
    port: 8080
    targetPort: app-port
  - protocol: TCP
    port: 8081
    targetPort: metrics-port
